from rasa.core.channels.rest import RestInput
from rasa.core.agent import Agent
import os
from dotenv import load_dotenv

load_dotenv()

# Load environment variables
DEPLOYMENT_NAME = os.getenv('AZURE_DEPLOYMENT_NAME')
API_KEY = os.getenv('MY_AZURE_API_KEY')
API_VERSION = os.getenv('AZURE_API_VERSION')
API_BASE = os.getenv('AZURE_API_BASE')