rest:

rasa:
  url: "http://localhost:5002/api"

# Add other configurations using environment variables
azure:
  deployment_name: ${AZURE_DEPLOYMENT_NAME}
  api_key: ${MY_AZURE_API_KEY}
  api_version: ${AZURE_API_VERSION}
  api_base: ${AZURE_API_BASE}